language: android

jdk: oraclejdk8

env:
  matrix:
    - ANDROID_TARGET=android-26 ANDROID_ABI=armeabi-v7a

android:
  components:
    - tools
    - build-tools-26.0.1
    - android-26
    - platform-tools
        
    - sys-img-${ANDROID_ABI}-${ANDROID_TARGET}
    
    # Additional components
    - extra-android-m2repository
    - extra-google-m2repository
    - extra-google-google_play_services

  licenses:
    - 'android-sdk-license-.+'

before_install:
  - echo "sdk.dir=$ANDROID_HOME" > local.properties
  - echo "bintray.apikey=fake_key" >> local.properties
  - echo "bintray.user=fake_user" >> local.properties

before_script:
  - echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &

script:
  - echo "Travis branch is $TRAVIS_BRANCH"
  - echo "Travis branch is in pull request $TRAVIS_PULL+REQUEST"
  - ./gradlew connectedAndroidTest coveralls

after_success:
  - bash <(curl -s https://codecov.io/bash)